.component__header{
    font-size: 1.6rem;
}

.home__welcome{
    background: #226B73;
    color: whitesmoke;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.home__welcome-header > h2,h3 {
    text-align: center;
}

.home__welcome > h2 {
    font-size: 1.3rem;
  }

.home__welcome > h3 {
    font-size: 0.9rem;
}

.home__welcome > .btn {
    width: 30%;
}

.home__treatments{
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.home__treatments > h3{
    color: #52A8B6;
}

.home__treatments > h2{
    color: var(--color-primary);
}

.swiper {
    width: 100%;
    height: 15rem; 
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    background: var(--color-white);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slider__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgb(227, 227, 227);
      border-radius: 1rem;
      width: 100%;
      
  }

  
  .slider__icon{
    margin-top: 10px;
    font-size: 2.8rem;
    color: #226B73;
}

.services_list > h2{
    color: var(--color-primary);
}


.services_list-wrapper{
    width: 100%;
    height: 25vh;
    overflow: scroll;
}

.services__list-container{
    width: 100w;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.services_list > h2{
    padding: 0 0.4rem;
}

.services__list-container > div{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.services__list-icon{
    color: orangered;
}

.app__navigation{   
    display: flex;
    justify-content: space-between;
}

.app__navigation-wraper{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;   
}

.app__navigation-icon{
    color: var(--color-primary);
    font-size: 2rem;
}

.app__navigation-p{
    font-weight: 500;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES)  ==========  */
@media screen and (max-width: 1024px) {

    .home__treatments > h3{
      font-size: 0.6rem;
    }
    
    .home__treatments > h2{
        font-size: 0.6rem;
    }
    
    .home__welcome > .btn {
        width: 80%;
    }

}

/* ========== MEDIA QUERIES (SMALL DEVICES)  ==========  */
@media screen and (max-width: 600px) {

    .container{
        width: 100%;
    }

      .home__welcome > .btn {
        width: 75%;
    }
    
   
    .home__welcome-header > h2 {
        font-size: 1.1rem;
      }
    
    .home__welcome-header > h3 {
        font-size: 0.8rem;
    }
    
    .home__treatments > h2{
        font-size: 1rem;
        padding: 0 0.4rem;
    }
    .home__treatments > h3{
        font-size: 0.8rem;
        padding: 0 0.4rem;
    }

    .slider__container{
        width: 100%;
        height: 55%;
    }

    .slider__header > h3{
        font-size: 0.7rem;
    }

    .services_list{
        padding: 0 0.5rem;
    }
    
}